<h1>Week 8 Homework</h1>
<form [formGroup]="searchForm"
      (ngSubmit)="onSubmit(searchForm.value)">
  <label for="searchInput">Search</label>
  <input type="text"
         id="searchInput"
         placeholder="Search text"
         [formControl]="searchForm.controls['searchText']">
  <button type="submit">Submit</button>
</form>

<div *ngIf="wikiResults.length !== 0">
  <h1>Wikipedia Search Results</h1>
  <p *ngFor="let result of wikiResults">{{ result }}</p>
</div>

<div *ngIf="giphyResults.length !== 0">
  <h1>Giphy Search Results</h1>
  <img *ngFor="let result of giphyResults" src="{{ result }}">
</div>